.wrapper
  .chat
    .chat-side
      .chat-side__current-user-name
        %p{class: "chat-side__current-user-name__showing-current-user-name"}= current_user.name
        .chat-side__current-user-name__icons
          = link_to new_group_path, class: "chat-side__current-user-name__icons__icon" do
            #{fa_icon "pencil-square-o"}
          = link_to edit_user_registration_path, class: "chat-side__current-user-name__icons__icon" do
            #{fa_icon  "cog"}
      %ul{class: "chat-side__groups-and-latest-messages"}
      = render @groups

    .chat-main
      .chat-main__chat-header
        .chat-main__chat-header__group-info
          %p{class: "chat-main__chat-header__group-info__current-group"}= @group.name
          %p{class: "chat-main__chat-header__group-info__current-group-members"}Members: #グループ所属メンバーを表示
        = link_to 'Edit', edit_group_path(@group), class: 'chat-main__chat-header__edit-btn btn'
      .chat-main__messages-area
        %ul{class: "chat-main__messages-area__message-section"}
          %li{class: "chat-main__messages-area__message-section__message-list"}
            .chat-main__messages-area__message-section__message-list__head
              %p{class: "chat-main__messages-area__message-section__message-list__head__name"}yusoshi
              %p{class: "chat-main__messages-area__message-section__message-list__head__post-date"}2017/02/11
            %p{class: "chat-main__messages-area__message-list__message"}test
          %li{class: "chat-main__messages-area__message-section__message-list"}
            .chat-main__messages-area__message-section__message-list__head
              %p{class: "chat-main__messages-area__message-section__message-list__head__name"}yusoshi
              %p{class: "chat-main__messages-area__message-section__message-list__head__post-date"}2017/02/11
            %p{class: "chat-main__messages-area__message-list__message"}test
          %li{class: "chat-main__messages-area__message-section__message-list"}
            .chat-main__messages-area__message-section__message-list__head
              %p{class: "chat-main__messages-area__message-section__message-list__head__name"}yusoshi
              %p{class: "chat-main__messages-area__message-section__message-list__head__post-date"}2017/02/11
            %p{class: "chat-main__messages-area__message-list__message"}test

      .chat-main__footer
        .chat-main__footer--clearfix
          %form{class: "chat-main__footer__form"}
            %textarea{class: "chat-main__footer__form__textarea", placeholder: "type a message", row: "1",}
            #{fa_icon "image"}
            %input{class: "chat-main__footer__form__sending-btn btn", type: "submit", value: "Send"}
