.wrapper
  .chat
    .chat-side
      .chat-side__current-user-name
        %p{class: "chat-side__current-user-name__showing-current-user-name"}= current_user.name
        .chat-side__current-user-name__icons
          = link_to new_group_path, class: "chat-side__current-user-name__icons__icon" do
            #{fa_icon "pencil-square-o"}
          = link_to edit_user_registration_path, class: "chat-side__current-user-name__icons__icon" do
            #{fa_icon  "cog"}
      %ul{class: "chat-side__groups-and-latest-messages"}
      = render @groups

    .chat-main
      .chat-main__chat-header
        .chat-main__chat-header__group-info
          %p{class: "chat-main__chat-header__group-info__current-group"}= @group.name
          %p{class: "chat-main__chat-header__group-info__current-group-members"}Members: #グループ所属メンバーを表示
        = link_to 'Edit', edit_group_path(@group), class: 'chat-main__chat-header__edit-btn btn'
      .chat-main__messages-area
        %ul{class: "chat-main__messages-area__message-section"}
        = render @messages

      .chat-main__footer
        .chat-main__footer--clearfix
          = form_for [@group, @message] do |f|
            %input{name: "current_user_name", type: "hidden", value: current_user.name, class: "chat-main__footer__form___current-user-name"}
            = f.text_field :body, placeholder: "type a message", row: "1", class: "chat-main__footer__form__textarea"
            #{fa_icon "image"}
            = f.submit "Send", class: "chat-main__footer__form__sending-btn btn"
